@import "../../../scss/palette.scss";

.catsFood {
  max-width: 320px;
  width: 100%;
  min-height: 510px;
  cursor: pointer;
}

.cardBorder {
  margin-bottom: 14px;
  position: relative;
  width: 328px;
  height: 488px;
  background-color: $blue;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%, 0 10%);
}
.card {
  user-select: none;
  position: relative;
  padding: 20px 48px;
  top: 4px;
  left: 4px;
  width: 320px;
  height: 480px;
  background-color: #fff;
  clip-path: polygon(14.7% 0, 100% 0, 100% 100%, 0 100%, 0 9.7%);
}

.img {
  position: absolute;
  width: 300px;
  left: 0;
  bottom: 0;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  span {
    display: block;
    font-size: 24px;
    line-height: 28px;
  }
  margin-bottom: 15px;
}

.tagname {
  font-size: 16px;
  line-height: 19px;
  color: $gray;
  margin-bottom: 5px;
}

.servings {
  font-size: 14px;
  line-height: 16px;
  color: $gray;
  font-weight: 700;
  margin-right: 4px;
}

.mouseCount {
  font-size: 14px;
  line-height: 16px;
  color: $gray;
  font-weight: 700;
  margin-right: 4px;
}

.present {
  font-size: 14px;
  line-height: 16px;
  color: $gray;
}

.link {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  a {
    color: $blue;
    border-bottom: 1px dotted $blue;
  }
}

.linkText {
  margin-right: 5px;
}

.circle {
  position: absolute;
  right: 16px;
  bottom: 16px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  background-color: $blue;
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
  height: 90px;
  width: 90px;
}

.circleDisabled {
  background-color: $gray;
}

.weight {
  font-size: 42px;
  line-height: 22px;
  margin-bottom: 8px;
  letter-spacing: -2px;
}

.kg {
  font-size: 21px;
  line-height: 22px;
}

.disabled {
  color: $yellow;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
}

.disabledCard {
  color: $gray;
}

.maskDisabled {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.7);
}

.hover {
  color: $pink;
}

.active {
  .circle {
    background-color: $pink;
  }
}

.cardBorderActive {
  background-color: $pink;
}
