body {
  font-family: "Exo 2", sans-serif;
  background-image: url("../../public/assets/image/bg.jpg");
  background-position: top center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 1193px) {
  .page {
    height: 100%;
  }
}
